@using SleepMakeSense.Models

@model MyViewModel



<!DOCTYPE html>
@using (Html.BeginForm("FactorQuestions", "Userdatas", FormMethod.Post))
{

    <html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Factor List</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
    </head>


    <body onload="UserdatasController.html()">
        <div id="DataProcessing">
            <script type="text/javascript">


            </script>
            <% using (Html.BeginForm())
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Sleep Diary</h2>
                    <p>Please answer these questions to learn how various lifestyle factors are affecting your sleep.</p>
                    <hr />
                </div>
            </div>

            <table class="table">
                    <td class="diaryfactor"><i class="fa fa-tv fa-2x"></i><span>TV</span></td>
                    <td class="diaryquestion">How many hours did you watch TV after 6pm last night?</td>
                    <td>
                        @Html.CheckBox(mbox => Model.UserQuestion.Question1)
                    </td>

                <tr class="tr-noborder" style="@((bool)Model.UserQuestion.Question2 ? "display:" : "display:none")">
                    <td class="diaryfactor"><i class="fa fa-coffee fa-2x"></i><span>Caffine</span></td>
                    <td class="diaryquestion">How many coffees and/or energy drinks did you drink yesterday?</td>
                    <td>
                        @Html.DropDownListFor(m => m.Userdata.Coffee, Model.CoffeeTime(), new { @class = "form-control" })
                    </td>
                </tr>

                <tr style="@((bool)Model.UserQuestion.Question3 ? "display:" : "display:none")">
                    <td class="diaryfactor"><i class="fa fa-coffee fa-2x"></i><span>Caffine</span></td>
                    <td class="diaryquestion">When was the last time you had caffine? (energy drink, coffee, etc.)</td>
                    <td>
                        @Html.DropDownListFor(m => m.Userdata.CoffeeTime, Model.CoffeeTime(), new { @class = "form-control" })
                    </td>
                </tr>

                <tr style="@((bool)Model.UserQuestion.Question4 ? "display:" : "display:none")">
                    <td class="diaryfactor"><i class="fa fa-futbol-o fa-2x"></i><span>Exercise</span></td>
                    <td class="diaryquestion">How many hours did you exercise yesterday?</td>
                    <td>
                        @Html.DropDownListFor(m => m.Userdata.ExerciseDuration, Model.ExerciseDuration(), new { @class = "form-control" })
                    </td>
                </tr>

                <tr style="@((bool)Model.UserQuestion.Question5 ? "display:" : "display:none")">
                    <td class="diaryfactor"><i class="fa fa-futbol-o fa-2x"></i><span>Exercise</span></td>
                    <td class="diaryquestion">How intense did you work out on a scale of 1-10 (1 being easy workout, 10 being your body was in a lot of pain afterwards)</td>
                    <td>
                        @Html.DropDownListFor(m => m.Userdata.ExerciseIntensity, Model.ExerciseIntensity(), new { @class = "form-control" })
                    </td>
                </tr>

                <tr style="@((bool)Model.UserQuestion.Question6 ? "display:" : "display:none")">
                    <td class="diaryfactor"><i class="fa fa-futbol-o fa-2x"></i><span>Exercise</span></td>
                    <td class="diaryquestion">What type of exercise did you do? (e.g. football, basketball, yoga, jogging, swimming)</td>
                    <td>
                        @Html.DropDownListFor(m => m.Userdata.ExerciseType, Model.ExerciseType(), new { @class = "form-control" })
                    </td>
                </tr>

                <tr style="@((bool)Model.UserQuestion.Question7 ? "display:" : "display:none")">
                    <td class="diaryfactor"><i class="fa fa-cutlery fa-2x"></i><span>Snacking</span></td>
                    <td class="diaryquestion">How many hours before bed did you snack last night?</td>
                    <td>
                        @Html.DropDownListFor(m => m.Userdata.Snack, Model.SnackTime(), new { @class = "form-control" })
                    </td>
                </tr>

                <tr style="@((bool)Model.UserQuestion.Question8 ? "display:" : "display:none")">
                    <td class="diaryfactor"><i class="fa fa-cutlery fa-2x"></i><span>Snacking</span></td>
                    <td class="diaryquestion">What types of food did you snack on?</td>
                    <td>
                        @Html.DropDownListFor(m => m.Userdata.Snack2, Model.SnackType(), new { @class = "form-control" })
                    </td>
                </tr>

                <tr style="@((bool)Model.UserQuestion.Question9 ? "display:" : "display:none")">
                    <td class="diaryfactor"><i class="fa fa-bed fa-2x"></i><span>Naps</span></td>
                    <td class="diaryquestion">How long did you nap for Today?</td>
                    <td>
                        @Html.DropDownListFor(m => m.Userdata.NapDuration, Model.NapDuration(), new { @class = "form-control" })
                    </td>
                </tr>

                <tr style="@((bool)Model.UserQuestion.Question10 ? "display:" : "display:none")">
                    <td class="diaryfactor"><i class="fa fa-bed fa-2x"></i><span>Naps</span></td>
                    <td class="diaryquestion">What Time was your nap?</td>
                    <td>
                        @Html.DropDownListFor(m => m.Userdata.NapTime, Model.NapTime(), new { @class = "form-control" })
                    </td>
                </tr>

                <tr style="@((bool)Model.UserQuestion.Question11 ? "display:" : "display:none")">
                    <td class="diaryfactor"><i class="fa fa-glass fa-2x"></i><span>Alcohol</span></td>
                    <td class="diaryquestion">How many drinks did you have today?</td>
                    <td>
                        @Html.DropDownListFor(m => m.Userdata.Alcohol, Model.Alcohol(), new { @class = "form-control" })
                    </td>
                </tr>

                <tr style="@((bool)Model.UserQuestion.Question12 ? "display:" : "display:none")">
                    <td class="diaryfactor"><i class="fa fa-briefcase fa-2x"></i><span>Work</span></td>
                    <td class="diaryquestion">When did your shift start last night?</td>
                    <td>
                        @Html.DropDownListFor(m => m.Userdata.Job, Model.WorkTime(), new { @class = "form-control" })

                    </td>
                </tr>

                <tr style="@((bool)Model.UserQuestion.Question13 ? "display:" : "display:none")">
                    <td class="diaryfactor"><i class="fa fa-briefcase fa-2x"></i><span>Work</span></td>
                    <td class="diaryquestion">How many hours did you work for?</td>
                    <td>
                        @Html.DropDownListFor(m => m.Userdata.Job2, Model.WorkDuration(), new { @class = "form-control" })
                    </td>
                </tr>

                <tr style="@((bool)Model.UserQuestion.Question14 ? "display:" : "display:none")">
                    <td class="diaryfactor"><i class="fa fa-mobile fa-2x"></i><span>Mobile use</span></td>
                    <td class="diaryquestion">How many hours did you spend on your phone after 6pm yesterday?</td>
                    <td>
                        @Html.DropDownListFor(m => m.Userdata.Phone, Model.Phone(), new { @class = "form-control" })
                    </td>
                </tr>

                <tr style="@((bool)Model.UserQuestion.Question15 ? "display:" : "display:none")">
                    <td class="diaryfactor"><i class="fa fa-pencil fa-2x"></i><span>Journal</span></td>
                    <td class="diaryquestion">Did you write in your journal/diary before bed last night?</td>
                    <td>
                        @Html.DropDownListFor(m => m.Userdata.SleepDiary, Model.SleepDiary(), new { @class = "form-control" })
                    </td>
                </tr>


                <tr style="@((bool)Model.UserQuestion.Question17 ? "display:" : "display:none")">
                    <td class="diaryfactor"><i class="fa fa-music fa-2x"></i><span>Music</span></td>
                    <td class="diaryquestion">What genre of music did you listen to?</td>
                    <td>
                        @Html.DropDownListFor(m => m.Userdata.MusicType, Model.MusicType(), new { @class = "form-control" })
                    </td>
                </tr>

                <tr style="@((bool)Model.UserQuestion.Question16 ? "display:" : "display:none")">
                    <td class="diaryfactor"><i class="fa fa-music fa-2x"></i><span>Music</span></td>
                    <td class="diaryquestion">How long did you listen to music to before sleeping last night?</td>
                    <td>
                        @Html.DropDownListFor(m => m.Userdata.MusicDuration, Model.Music(), new { @class = "form-control" })
                    </td>
                </tr>


                <tr style="@((bool)Model.UserQuestion.Question18 ? "display:" : "display:none")">
                    <td class="diaryfactor"><i class="fa fa-commenting fa-2x"></i><span>Social media</span></td>
                    <td class="diaryquestion">How long were you on social media for after 6pm last night?</td>
                    <td>
                        @Html.DropDownListFor(m => m.Userdata.SocialMedia, Model.SocialMedia(), new { @class = "form-control" })
                    </td>
                </tr>

                <tr style="@((bool)Model.UserQuestion.Question19 ? "display:" : "display:none")">
                    <td class="diaryfactor"><i class="fa fa-gamepad fa-2x"></i><span>Video games</span></td>
                    <td class="diaryquestion">How long did you play video games for after 6pm?</td>
                    <td>
                        @Html.DropDownListFor(m => m.Userdata.Games, Model.VideoGames(), new { @class = "form-control" })
                    </td>
                </tr>

                <tr style="@((bool)Model.UserQuestion.Question20 ? "display:" : "display:none")">
                    <td class="diaryfactor"><i class="fa fa-graduation-cap fa-2x"></i><span>Assessment</span></td>
                    <td class="diaryquestion">Do you have any assessment due or exams this week?</td>
                    <td>
                        @Html.DropDownListFor(m => m.Userdata.Assessment, Model.Assignments(), new { @class = "form-control" })
                    </td>
                </tr>

                <tr>
                    <td class="diaryfactor"><i class="fa fa-frown-o fa-2x"></i><span>Stress</span></td>
                    <td class="diaryquestion">How anxious/stressed were you Today? (1 not at all - 10 very)</td>
                    <td>
                        @Html.DropDownListFor(m => m.Userdata.Stress, Model.Stress(), new { @class = "form-control" })
                    </td>
                </tr>

                <tr class="tr-nobg">
                    <td></td>
                    <td></td>
                    <td><input type="submit" value="Send" class="btn btn-primary btn-lg btn-block" /></td>
                </tr>
            </table>
        </div>
    </body>
</html>
}
