@model SleepExplorer.Models.Date

@{
    ViewBag.Title = "Sync";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sync Data</h2>

<div>
    @*
    <div class="row">
        @if (ViewBag.AccessToken != null)
        {
            <p>Token -- <a id="accessTokenId">@ViewBag.AccessToken.Token</a></p>
            <p>Token type --    <a id="accessTokenType"> @ViewBag.AccessToken.TokenType</a> </p>
            <p>Expires In --    <a id="accessTokenExpiration"> @ViewBag.AccessToken.ExpiresIn</a> </p>
            <p>Refresh token -- <a id="RefreshToken"> @ViewBag.AccessToken.RefreshToken</a> </p>

        }
        else
        {
            <p>The current session has not been authenticated with fitbit</p>
        }

        <p>
            @Html.ActionLink("Refresh Token", "RefreshToken", "Fitbit")
        </p>

        <p>@Html.ActionLink("Test Token", actionName: "TestToken")</p>

    </div>

    @if (ViewBag.UserProfile != null)
    {<p>Welcome Fitbit User @ViewBag.UserProfile.FullName with accesstoken @ViewBag.AccessToken.ToString()</p>}
    *@

    <p><a href="/FitbitDatas/SyncDaily" class="btn btn-primary">Sync Fitbit Daily Data &raquo;</a></p>

        @*
                <p> Please input the date that you want to retrieve your sleep data on :) </p>
                using (Html.BeginForm("SleepIntraDay", "Fitbit"))
                {
                    @Html.TextBoxFor(m => m.Year)
                    @Html.TextBoxFor(m => m.Month)
                    @Html.TextBoxFor(m => m.Day)

            <input type="submit" value="Get Min-by-Min Sleep Data" &raquo />
            }*@
        @*<p><a href="/Fitbit/SleepIntraDay" class="btn btn-primary">Get Min-by-Min Sleep Data &raquo;</a></p>
            <p><a href="/Fitbit/StepIntraDay" class="btn btn-primary">Get Min-by-Min Step Data &raquo;</a></p>*@

</div>

@*
<ul>
    @Html.ActionLink("Get Device Information", "DeviceInfo", "Fitbit")


    <li><a href="/Fitbit/DeviceInfo">View Device Information</a></li>
</ul>
*@
