@using SleepMakeSense.Models

@model DiaryDataSetupModel



<!DOCTYPE html>
@using (Html.BeginForm("DiaryDataSetup", "DiaryData", FormMethod.Post))
{
    <html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Factor List</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
    </head>


    <body onload="DiaryDataController.html()">
        <div id="DataProcessing">
            <script type="text/javascript">
            </script>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Sleep Diary</h2>
                    <p>Setting Up Diary Questions.</p>
                    <hr />
                </div>
            </div>

            <table class="table">
                <tr class="tr-noborder">
                    <td class="diaryfactor"><i class="fa fa-frown-o fa-2x"></i><span>Stress</span></td>
                    <td class="diaryquestion">Asked Question - How anxious/stressed were you Today? (1 not at all - 5 very)</td>
                    <td>
                      @Html.CheckBoxFor(Model => Model.Stress)
                    </td>
                </tr>
                <tr class="tr-noborder">
                    <td class="diaryfactor"><i class="fa fa-child fa-2x"></i><span>Wake Up Freshness</span></td>
                    <td class="diaryquestion">Asked Question - How fresh did you feel from last nights sleep? (1 not at all - 5 very)</td>
                    <td>
                        @Html.CheckBoxFor(Model => Model.WakeUpFreshness)
                    </td>
                </tr>
                <tr>
                    <td class="diaryfactor"><i class="fa fa-child fa-2x"></i><span>Tiredness</span></td>
                    <td class="diaryquestion">Asked Question - How tired/sleepy were you Today? (1 not at all - 5 very)</td>
                    <td>
                        @Html.CheckBoxFor(Model => Model.Tiredness)
                    </td>
                </tr>
                <tr>
                    <td class="diaryfactor"><i class="fa fa-cloud fa-2x"></i><span>Dream</span></td>
                    <td class="diaryquestion">Asked Question - How well did you rember your dream? (1 not at all - 5 very)</td>
                    <td>
                        @Html.CheckBoxFor(Model => Model.Dream)
                    </td>
                </tr>
                <tr>
                    <td class="diaryfactor"><i class="fa fa-graduation-cap fa-2x"></i><span>School Questions</span></td>
                    <td class="diaryquestion">Asked Question - How anxious/stressed are you in regards to school exams and assignements?  (1 not at all - 5 very)</td>
                    <td>
                        @Html.CheckBoxFor(Model => Model.SchoolQuestions)
                    </td>
                </tr>
                <tr>
                    <td class="diaryfactor"><i class="fa fa-coffee fa-2x"></i><span>Coffees Questions</span></td>
                    <td class="diaryquestion">Asked Question - How many caffinated beverages & Time of the last caffinated beverages</td>
                    <td>
                        @Html.CheckBoxFor(Model => Model.CoffeeQuestions)
                    </td>
                </tr>
                <tr>
                    <td class="diaryfactor"><i class="fa fa-glass fa-2x"></i><span>Alcohol Questions</span></td>
                    <td class="diaryquestion">Asked Question - How many Alcoholic beverages & Time of the last Alcoholic beverages</td>
                    <td>
                        @Html.CheckBoxFor(Model => Model.AlcoholQuestions)
                    </td>
                </tr>
                <tr>
                    <td class="diaryfactor"><i class="fa fa-bed fa-2x"></i><span>Nap Questions</span></td>
                    <td class="diaryquestion">Asked Question - What Time was your nap & How long did you nap for Today</td>
                    <td>
                        @Html.CheckBoxFor(Model => Model.NapQuestions)
                    </td>
                </tr>
                <tr>
                    <td class="diaryfactor"><i class="fa fa-bed fa-2x"></i><span>Digital Device Question</span></td>
                    <td class="diaryquestion">Asked Question - How long did spend on your phone/tablet for after 6pm?</td>
                    <td>
                        @Html.CheckBoxFor(Model => Model.DigDeviceDurationQuestion)
                    </td>
                </tr>
                <tr>
                    <td class="diaryfactor"><i class="fa fa-bed fa-2x"></i><span>Games Question</span></td>
                    <td class="diaryquestion">Asked Question - How long did spend on Video Games for after 6pm?</td>
                    <td>
                        @Html.CheckBoxFor(Model => Model.GameDurationQuestion)
                    </td>
                </tr>
                <tr>
                    <td class="diaryfactor"><i class="fa fa-bed fa-2x"></i><span>Social Media Question</span></td>
                    <td class="diaryquestion">Asked Question - How long did spend on Social Media for after 6pm?</td>
                    <td>
                        @Html.CheckBoxFor(Model => Model.SocialMediaDurationQuestion)
                    </td>
                </tr>
                <tr>
                    <td class="diaryfactor"><i class="fa fa-bed fa-2x"></i><span>Social Activities Question</span></td>
                    <td class="diaryquestion">Asked Question - How long did spend on Social Activities for after 6pm?</td>
                    <td>
                        @Html.CheckBoxFor(Model => Model.SocialActivityDurationQuestion)
                    </td>
                </tr>
                <tr>
                    <td class="diaryfactor"><i class="fa fa-bed fa-2x"></i><span>Music Question</span></td>
                    <td class="diaryquestion">Asked Question - How long did spend listerning to music after 6pm?</td>
                    <td>
                        @Html.CheckBoxFor(Model => Model.MusicDurationQuestion)
                    </td>
                </tr>
                <tr>
                    <td class="diaryfactor"><i class="fa fa-bed fa-2x"></i><span>TV Question</span></td>
                    <td class="diaryquestion">Asked Question - How long did spend Watching TV after 6pm?</td>
                    <td>
                        @Html.CheckBoxFor(Model => Model.TVDurationQuestion)
                    </td>
                </tr>
                <tr>
                    <td class="diaryfactor"><i class="fa fa-briefcase fa-2x"></i><span>Work Questions</span></td>
                    <td class="diaryquestion">Asked Question - When Did you start work today? & How long were you at work?</td>
                    <td>
                        @Html.CheckBoxFor(Model => Model.WorkQuestions)
                    </td>
                </tr>
                <tr>
                    <td class="diaryfactor"><i class="fa fa-futbol-o fa-2x"></i><span>Excersise Questions</span></td>
                    <td class="diaryquestion">Asked Question - How long was your workout today? & How instense was your workout?</td>
                    <td>
                        @Html.CheckBoxFor(Model => Model.ExersiseQuestions)
                    </td>
                </tr>
                <tr>
                    <td class="diaryfactor"><i class="fa fa-cutlery fa-2x"></i><span>Food Questions</span></td>
                    <td class="diaryquestion">Asked Question - When was dinner tonight? & What time did you snack tonight?</td>
                    <td>
                        @Html.CheckBoxFor(Model => Model.FoodQuestions)
                    </td>
                </tr>

                <tr class="tr-nobg">
                    <td></td>
                    <td></td>
                    <td><input type="submit" value="Send" class="btn btn-primary btn-lg btn-block" /></td>
                </tr>
            </table>
        </div>
    </body>
</html>
}
